// colors from hero image
// #86BA01 - grass green
// #3C806D - olive green
// #AFBDA3 - pale green
// #2578AD - sky blue
// #A8C7E1 - light blue
// #798E71 - army green
// #E37D79 - salmon

$grass: #86BA01;
$olive: #3C806D;
$palegreen: #AFBDA3;
$skyblue: #2578AD;
$lightblue: #A8C7E1;
$armygreen: #798E71;
$salmon: #E37D79;

$main-background: rgba(7, 41, 72, 0.95);
$title-background: rgba(7, 41, 72, 0.25);

$section-title-color: $grass;
$section-background:   #FAFAFA;
