.dashboard {
  margin-top: 4rem;
}

.dashboard__display-panel {
}

.dashboard__card-columns {
  column-count: 1;
}

@media (min-width: 576px) {
  .dashboard__card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .dashboard__card-columns {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .dashboard__card-columns {
    column-count: 4;
  }
}

.dashboard__card {
  background-color: darken(white, 2%  );
}

@media (min-width: 768px) {
  .dashboard__card {
    max-width: 200px;
  }
}

@media (min-width: 1200px) {
  .dashboard__card {
    max-width: 320px;
  }
}


.dashboard__card-img-container {
}

.dashboard__card-img {
  border-bottom: rgba(0, 0, 0, 0.15) 1px solid;
}

.dashboard__card-title {
  @include title-font;
  color: $salmon;
  font-size: 1.5rem;
  text-align: center;
  transition: all 0.5s ease-in-out;
  text-decoration: none!important;
  &:hover {
    color: $grass;
  }
}

.dashboard__alert {
  background-color: $olive;
  text-align: center;
  height: 2rem;
  color: white;
}

.dashboard__user-panel {
  background-color: rgba(60, 128, 109, 0.2);
  border: rgba(0, 0, 0, 0.15) 1px solid;
  margin-right: 15px;
  margin-left: 15px;
  padding-bottom: 1rem;
  border-radius: 0.25rem;
  height: 100%;
}

@media (max-width: 768px) {
  .dashboard__user-panel {
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .dashboard__user-panel {
    max-width: 21%;
  }
}

.dashboard__title {
  @include title-font;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.dashboard__welcome {
  @include title-font;
  font-size: 1.5rem;
}

.dashboard__username {
  word-break: break-all;
  color: $salmon;
}

.dashboard__paragraph {
  @include paragraph-font;
  font-size: 1rem;
}

//Styles related to child_detail.html
.dashboard__child-img {
    width: 100%;
  }

@media (min-width: 576px){
  .dashboard__child-img {
    max-width: 320px;
  }
}

.dashboard__detail-col {
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .dashboard__detail-col {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 576px) {
  .dashboard__field-col {
  }
}

.dashboard__action-form {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .dashboard__actions-container {
    margin-left: 0;
    margin-right: 0;
  }
}
.dashboard__actions-container {
}

.dashboard__actions-title {
  @include title-font;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.dashboard__actions-box {
  border-radius: 0.25rem;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .dashboard__actions-box {
    flex: 0 0 44%;
    max-width: 44%;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.dashboard__action-date-wrapper {
  background-color: darken(white, 5%);
  pointer-events: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.dashboard__action-date {
  @include title-font;
  color: $salmon;
  margin-bottom: 0;
  font-weight: bold;
}

.dashboard__action-claimed {
  background-color: rgba(60,128,109,0.2);
}

.dashboard__action-description {
  @include paragraph-font;
  margin-bottom: 0;
}

.dashboard__list-group-description {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  pointer-events: none;
}

.dashboard__star-awarded {
  background: linear-gradient(90deg, $olive, $main-background);
  color: $grass;
  border: $olive 1px solid;
}

.dashboard__star {
  color: gold;
}