.navigation {
  background: $main-background;
}

.navigation__brand-link {
}

.navigation__brand-img {
  width: 7rem;
}

.navigation__icon {
}

.navbar-dark {
  .navbar-nav {
    .navigation__link {
      color: $armygreen;
      transition: all 0.5s ease-in-out;
      &:hover {
        color: $grass;
      }
    }
  }
}
