.services{
}

.services__section-title {
  @extend .section-title;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.services__card {
  position: relative;
  background: darken(white, 2%);
}

.services__card-header {
  @include section-title-font;
  position: absolute;
  top: 0;
  left: 0;
  background: $main-background;
  color: $salmon;
  font-size: 4rem;
  padding: 0 1.5rem;
  line-height: 4rem;
  text-align: center;
  border-radius: 0.25rem 0 0.25rem 0;
}

.services__card-img {
}

.services__card-title {
  @include title-font;
  color: $olive;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.services__card-text {
  @include paragraph-font;
  color: $olive;
  text-align: center;
}