.testimonials {
  background: $section-background;
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding-bottom: 3rem;
}

.testimonials__container {
  width: 80%;
}

.testimonials__section-title {
  @extend .section-title;
  color: $section-title-color;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.testimonials__img {
  box-shadow: black 3px 3px 5px;
  border: rgba(0, 0, 0, 0.17) 1px solid;
}

.testimonials__title {
  @include title-font;
  font-size: 2rem;
  margin-top: 2rem;
}

@media (min-width: 768px){
  .testimonials__title {
    margin-top: auto;
  }
}

.testimonials__cite {
  @include paragraph-font;
  font-size: 1rem;
  color: $skyblue;
}

.testimonials__username {
  @include title-font;
  font-size: 1.25rem;
  color: $olive;
  margin-top: 0.5rem;
  text-align: right;
}