// Set global font sizes below
html {
  font-size: 80%;
}

/* Mobiles 576px and up */
@media (min-width: 576px) {
  html {
    font-size: 90%;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  html {
    font-size: 100%;
  }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  html {
    font-size: 120%;
  }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  html {
    font-size: 140%;
  }
}


.page-title {
  font-family: 'Cabin Sketch', cursive;
  font-size: 3rem;
}

