[run]
omit =
    .tox/*
    */migrations/*
    venv/*
    */virtualenv/*

[report]
exclude_lines =
    pragma: no cover

    def __repr__
    def __unicode__
    def __str__

    raise AssertionError
    raise NotImplementedError
