<!DOCTYPE html>
{% load static %}
{% load compile_static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="B.Nice - share family chores to have more time for fun.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>B.Nice</title>
    <link rel="stylesheet" href="{% static 'scss/main.scss'|compile %}"/>
    <link rel="stylesheet" href="{% static 'core/fontawesome-all.css' %}"/>
</head>
<body class="d-flex flex-column">
<a href="#" id="toTopButton"><i class="fas fa-angle-up"></i></a>
<nav class="navigation navbar navbar-expand-sm navbar-dark fixed-top">
        <a class="navigation__brand-link navbar-brand" href="{% url 'core:home' %}">
            <img class="navigation__brand-img"
                 src="{% static 'core/images/logo/Bnice_logo_1744x484px.png' %}"
                 alt="Be Nice Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navigation__icon navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                {% if request.path == "/" %}
                    <li class="nav-item">
                        <a class="navigation__link nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="navigation__link nav-link" href="#opinions">Opinions</a>
                    </li>
                    <li class="nav-item">
                        <a class="navigation__link nav-link"
                           href="#about">About</a>
                    </li>
{#                    Placeholder for CONTACT section. #}
{#                    <li class="nav-item">#}
{#                        <a class="navigation__link nav-link" href="#contact">Contact</a>#}
{#                    </li>#}
                {% endif %}
                {% if user.is_authenticated %}
{#                    Content to be displayed on small screens in the navbar #}
                        <li class="nav-item d-sm-none">
                            <a class="navigation__link nav-link"
                               href="{% url 'dashboard:dashboard' %}">Dashboard</a>
                        </li>
                    <li class="nav-item d-sm-none">
                        <a class="navigation__link nav-link" href="{% url 'accounts:logout' %}">Log Out</a>
                    </li>
{#                    Content to be displayed only on large screens in dropdown menu #}
                    <li class="nav-item dropdown d-none d-sm-block">
                        <a class="nav-link dropdown-toggle" href=""
                           id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="navigation__icon fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu"
                             aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Log Out</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="navigation__link nav-link" href="{% url 'accounts:login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="navigation__link nav-link" href="{% url 'accounts:signup' %}">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main class="flex-fill">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="footer__brand-row col-12 text-center">
                    <a class=""
                       href="{% url 'core:home' %}">
                        <img class="footer__brand-img"
                             src="{% static 'core/images/logo/Bnice_logo_1744x484px.png' %}"
                             alt="Be Nice Logo">
                    </a>
                </div>
            </div>
            <div class="footer__copy-row row text-center">
                <div class="col-md-4">
                    <p class="footer__text">
                        ©
                        <script>document.write(new Date().getFullYear())</script>
                        B.Nice
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="footer__text">
                        Powered by
                        <a href="https://www.djangoproject.com/">
                            <img class="footer__logo" src="{% static 'core/images/footer/django_logo.png' %}">
                        </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="footer__text">
                        Created by
                        <a class="footer__link" href="http://tomasz-kluczkowski.com/">Tomasz Kluczkowski</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'core/js/site.js' %}"></script>
</body>
</html>