{% load bootstrap4 %}
<div class="form-container container">
    <div class="row">
{#        <div class="col-md-6">#}
{#            <h1 class="form__section-title">{{ title }}</h1>#}
{#        </div>#}
        <div class="col-md-12">
            {% bootstrap_messages %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form layout="horizontal" size="small" label_class="form-label col-md-3" %}
                {% if child_form %}
                    {% bootstrap_form child_form layout="horizontal" size="small" label_class="form-label col-md-3" %}
                {% endif %}
                {% if form.non_field_errors and request.path == "/accounts/login/" %}
                    <div class="invalid-feedback d-block">The username and password do not match.</div>
                {% endif %}
                <div class="row">
                    <div class="col-12 text-center">
                        {% buttons %}
                            <button type="submit" class="form-button btn btn-success">
                                {{ title }}
                            </button>
                        {% endbuttons %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
