{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <section class="hero">
        <div class="hero-image-container container-fluid px-0 mx-0">
            <div class="row px-0 mx-0">
                <div class="col-12 px-0 mx-0">
                    <picture>
                        <source srcset="{% static 'core/images/hero/family_480x270px.jpg' %} 480w,
                                        {% static 'core/images/hero/family_960x480px.jpg' %} 960w,
                                        {% static 'core/images/hero/family_1334x750px.jpg' %} 1334w,
                                        {% static 'core/images/hero/family_1920x1080px.jpg' %} 1920w,
                                        {% static 'core/images/hero/family_3840x2160px.jpg' %} 3840w"
                                media="(orientation: landscape)"
                                sizes="100vw">
                        <source srcset="{% static 'core/images/hero/family_750x1334px.jpg' %} 750w,
                                        {% static 'core/images/hero/family_1080x1920px.jpg' %} 1080w"
                                media="(orientation: portrait)"
                                sizes="100vw">
                        <img class="hero-image"
                             src="{% static 'core/images/hero/family_1920x1080px.jpg' %}"
                             alt="Be Nice Hero Image">
                    </picture>
                </div>
            </div>
            <div class="hero__title-container text-center row px-0 mx-0">
                <div class="col-md-12">
                    <img class="hero__site-logo"
                         srcset="{% static 'core/images/logo/Bnice_logo_218x61px.png' %} 218w,
                                 {% static 'core/images/logo/Bnice_logo_436x121px.png' %} 436w,
                                 {% static 'core/images/logo/Bnice_logo_872x242px.png' %} 872w,
                                 {% static 'core/images/logo/Bnice_logo_1744x484px.png' %} 1744w"
                         sizes="100vw"
                         src="{% static 'core/images/logo/Bnice_logo_872x242px.png' %}"
                         alt="Be Nice Main Logo">
                    <h2 class="hero__page-title">More You, Less Chores</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 class="services__title">How it Works</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-header">Header</div>
                            <img class="card-img-top" src="..."
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with
                                    supporting text below as a natural lead-in
                                    to additional content. This content is a
                                    little bit longer.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins
                                    ago
                                </small>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">Header</div>
                            <img class="card-img-top" src="..."
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting
                                    text below as a natural lead-in to
                                    additional content.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins
                                    ago
                                </small>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">Header</div>
                            <img class="card-img-top" src="..."
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with
                                    supporting text below as a natural lead-in
                                    to additional content. This card has even
                                    longer content than the first to show that
                                    equal height action.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins
                                    ago
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}