{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <section class="hero">
        <div class="hero-image-container container-fluid px-0">
            <div class="row mx-0">
                <div class="col-12 px-0">
                    <picture>
                        <source srcset="{% static 'core/images/hero/family_480x270px.jpg' %} 480w,
                                        {% static 'core/images/hero/family_960x480px.jpg' %} 960w,
                                        {% static 'core/images/hero/family_1334x750px.jpg' %} 1334w,
                                        {% static 'core/images/hero/family_1920x1080px.jpg' %} 1920w,
                                        {% static 'core/images/hero/family_3840x2160px.jpg' %} 3840w"
                                media="(orientation: landscape)"
                                sizes="100vw">
                        <source srcset="{% static 'core/images/hero/family_750x1334px.jpg' %} 750w,
                                        {% static 'core/images/hero/family_1080x1920px.jpg' %} 1080w"
                                media="(orientation: portrait)"
                                sizes="100vw">
                        <img class="hero-image"
                             src="{% static 'core/images/hero/family_1920x1080px.jpg' %}"
                             alt="Be Nice Hero Image">
                    </picture>
                </div>
            </div>
            <div class="hero__title-container text-center row mx-0">
                <div class="col-md-12">
                    <img class="hero__site-logo"
                         srcset="{% static 'core/images/logo/Bnice_logo_218x61px.png' %} 218w,
                                 {% static 'core/images/logo/Bnice_logo_436x121px.png' %} 436w,
                                 {% static 'core/images/logo/Bnice_logo_872x242px.png' %} 872w,
                                 {% static 'core/images/logo/Bnice_logo_1744x484px.png' %} 1744w"
                         sizes="100vw"
                         src="{% static 'core/images/logo/Bnice_logo_872x242px.png' %}"
                         alt="Be Nice Main Logo">
                    <h2 class="hero__page-title">More You, Less Chores</h2>
                    <a href="#" class="hero__button btn btn-outline-success">Sign Up!</a>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 class="services__section-title">How it Works</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-deck">
                        <div class="services__card card">
                            <div class="services__card-header">1</div>
                            <img class="services__card-img card-img-top"
                                 srcset="{% static 'core/images/services/family_with_laptop_177x118px.jpg' %} 177w,
                                         {% static 'core/images/services/family_with_laptop_355x237px.jpg' %} 355w,
                                         {% static 'core/images/services/family_with_laptop_771x514px.jpg' %} 771w"
                                 src="{% static 'core/images/services/family_with_laptop_771x514px.jpg' %}"
                                 sizes=""
                                 alt="Family Sharing Laptop">
                            <div class="card-body">
                                <h5 class="services__card-title card-title">Sign Up</h5>
                                <p class="services__card-text card-text">Register for free and start using our services.</p>
                            </div>
                            <div class="card-footer">
                                <p class="services__card-text card-text"></p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="services__card-header">2</div>
                            <img class="card-img-top"
                                 srcset="{% static 'core/images/services/doing_chores_177x118px.jpg' %} 177w,
                                         {% static 'core/images/services/doing_chores_355x237px.jpg' %} 355w,
                                         {% static 'core/images/services/doing_chores_771x514px.jpg' %} 771w"
                                 src="{% static 'core/images/services/doing_chores_771x514px.jpg' %}"
                                 sizes=""
                                 alt="Mum and daughter doing chores together">
                            <div class="card-body">
                                <h5 class="services__card-title card-title">Motivate</h5>
                                <p class="services__card-text card-text">Add tasks to family members and ask them to help you. Agree on the prize they get on completion.</p>
                            </div>
                            <div class="card-footer">
                                <p class="services__card-text card-text"></p>
                            </div>
                        </div>


                        <div class="card">
                            <div class="services__card-header">3</div>
                            <img class="card-img-top"
                                 srcset="{% static 'core/images/services/boy_with_a_toy_plane_177x118px.jpg' %} 177w,
                                         {% static 'core/images/services/boy_with_a_toy_plane_355x237px.jpg' %} 355w,
                                         {% static 'core/images/services/boy_with_a_toy_plane_771x514px.jpg' %} 771w"
                                 src="{% static 'core/images/services/boy_with_a_toy_plane_771x514px.jpg' %}"
                                 sizes=""
                                 alt="Rewarding your child">
                            <div class="card-body">
                                <h5 class="services__card-title card-title">Reward</h5>
                                <p class="services__card-text card-text">Positive reinforcement is best. Make them feel happy by seeing your smile.</p>
                            </div>
                            <div class="card-footer">
                                <p class="services__card-text card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="opinions" class="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="testimonials__section-title">User's Opinions</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img class="testimonials__img img-fluid rounded" src="{% static 'core/images/testimonials/man_hugging_daugther_540x360px.jpg' %}">
                </div>
                <div class="col-md-6">
                    <h2 class="testimonials__title">What Is Great About B.Nice</h2>
                    <cite class="testimonials__cite">
                        "My child was only 6 when we started to use B.Nice.
                        We struggled maintaining routine and sometimes she would help us out and other times she would blatantly refuse or ignore us.
                        With a system introduced now she knows that nothing is for free and enjoys supporting us."
                    </cite>
                    <h3 class="testimonials__username">Tom, London, UK</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 order-lg-1">
                    <h2 class="testimonials__title">Why I keep using B.Nice</h2>
                    <cite class="testimonials__cite">
                        "I barely had any time for myself, there was always so much work at home. I tried many times asking my child for help but it never worked in the long run. Since I started using B.Nice we finally have spare time and can enjoy each others company and go out."
                    </cite>
                    <h3 class="testimonials__username">Violet, London, UK</h3>
                </div>
                <div class="col-md-6 order-lg-2">
                    <img class="testimonials__img img-fluid rounded" src="{% static 'core/images/testimonials/woman_whispering_to_child_540x360px.jpg' %}">
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="about">
        <div class="container-fluid px-0">
            <div class="row mx-0">
                <div class="about__img-container col-12 px-0">
                    <img class="img-fluid" src="{% static 'core/images/about/girl_playing_on_grass_3840x950px.jpg' %}">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                        <h2 class="about__section-title">About Us</h2>
                        <p class="about__paragraph">
                            Natalie was 6 year old when I realised I am going round in circles trying to teach her
                            how to be a good person.
                            It all starts at home and the earlier you start the
                            better.
                            Easier said than done.<br><br>
                            I started from making a wall chart with her good and
                            bad deeds listed with smileys and sad face
                            icons.
                            We have noticed straight away with my wife a positive change in our child's behaviour
                            and an idea of a website helping us to keep track of it all dawned on me.<br><br>
                            That's how B.Nice started - out of a simple need to
                            bring more happiness to our family.
                        </p>
                </div>
            </div>
        </div>
    </section>
{#    <section id="contact" class="contact">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-12">#}
{#                    <h2 class="contact__section-title">Contact</h2>#}
{#                    <p>Here django auto generated contact form to be injected</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{% endblock %}