{% load dashboard_tags %}
<div class="dashboard__actions-box col-md-6">
    {% set_var "" as current_date %}
    <ul class="list-group">
        {% for action in actions reversed %}
            {% if current_date != action.earned_on|date:"j M Y" %}
                <li class="dashboard__action-date-wrapper list-group-item  d-flex justify-content-between align-items-center">
                    <p class="dashboard__action-date">
                        <i class="far fa-calendar-alt"></i>
                        {{ action.earned_on|date:"j M Y" }}
                    </p>
                    {% if forloop.first %}
                        {% if action|get_model_name == "Smiley" %}
                            {% set_var "earned" as points_status %}
                            {% set_var "success" as badge_color %}
                        {% else %}
                            {% set_var "lost" as points_status %}
                            {% set_var "danger" as badge_color %}
                        {% endif %}
                        <p class="dashboard__action-date">Points {{ points_status }}</p>
                    {% endif %}
                </li>
            {% endif %}
            {% if action.claimed %}
                {% set_var "dashboard__action-claimed" as action_status %}
            {% else %}
                {% set_var "" as action_status %}
            {% endif %}
            <li class="dashboard__list-group-description {{ action_status }} list-group-item d-flex justify-content-between align-items-center">
                <p class="dashboard__action-description">
                    {{ action.description }}
                </p>
                <div>
                    {#            Allow deleting of actions if not claimed #}
                    {% if not action.claimed %}
                        <a class="btn btn-danger form-button-min"
                           href="{% url 'dashboard:smiley_delete' pk=action.pk %}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    {% endif %}
                    <span class="badge badge-{{ badge_color }} badge-pill">
                        {{ action.points }}
                    </span>
                </div>
            </li>
            {% if action.star_awarded %}
                <li class="dashboard__list-group-description dashboard__star-awarded list-group-item d-flex justify-content-between align-items-center">
                    You have earned a star!
                    <i class="dashboard__star fas fa-star"></i>
                </li>
            {% endif %}
            {% if action.points_remaining > 0 %}
                <li class="dashboard__list-group-description list-group-item d-flex justify-content-between align-items-center">
                    <p class="dashboard__action-description">
                        Remaining points
                    </p>
                    <span class="badge badge-{{ badge_color }} badge-pill">{{ action.points_remaining }}</span>
                </li>
            {% endif %}
            {% set_var action.earned_on|date:"j M Y" as current_date %}
        {% endfor %}
    </ul>
</div>