{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% block display_panel %}
    <div class="dashboard__display-panel col-md-9 mr-auto">
        <div class="row">
            <div class="col-md-3">
                {% if child.user.profile_photo %}
                        <img class="dashboard__child-img rounded"
                             src="{{ child.user.profile_photo.url }}"
                             alt="Child profile photo">
                {% else %}
                        <img class="dashboard__child-img"
                             src="{% static 'dashboard/images/avatar_500x500px.png' %}"
                             alt="Child avatar">
                {% endif %}
            </div>
            <div class="dashboard__detail-col col-lg-9">
                <div class="row">
                    <div class="dashboard__field-col col-md-2">
                        <label class="form-label">Username</label>
                    </div>
                    <div class="col-md-10">
                        <h3 class="form-control form-control-sm">{{ child.user.username }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="dashboard__field-col col-md-2">
                        <label class="form-label">Name</label>
                    </div>
                    <div class="col-md-10">
                        <h3 class="form-control form-control-sm">{{ child.user.name }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="dashboard__field-col col-md-2">
                        <label class="form-label">Email</label>
                    </div>
                    <div class="col-md-10">
                        <h3 class="form-control form-control-sm">{{ child.user.email }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% block add_action %}
                {% endblock %}
            </div>
        </div>

        {% block progress %}
        {% endblock %}
    </div>
{% endblock %}
