{% extends "dashboard/child_detail_base.html" %}
{% load static %}
{% block progress %}
    <div class="dashboard__actions-container row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="dashboard__actions-title">{{ child.user.name }}'s Progress</h2>
                    {% if not smiley and not oopsies %}
                        <p class="dashboard__paragraph">Your child has no actions added yet. Use the User Panel to add them!</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                {% if smileys %}
                    {% include "dashboard/_action_list.html" with actions=smileys %}
                {% endif %}
                {% if oopsies %}
                    {% include "dashboard/_action_list.html" with actions=oopsies %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
