{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <section class="dashboard">
        <div class="container-fluid px-0">
            <div class="row dashboard__container">
                <div class="col-12">
                    <div class="row">
                        {% block display_panel %}
                        {% endblock %}
                        <div class="dashboard__user-panel col-sm-4">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h1 class="dashboard__title">User Panel</h1>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="dashboard__welcome">Welcome<br><span
                                            class="dashboard__username">{{ request.user.username }}</span>
                                    </h2>
                                    <p class="dashboard__paragraph">Please
                                    select from one of the actions
                                    below.</p>
                                </div>
                            </div>
                            <hr>
                            {% if user.is_child %}
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <a class="btn btn-dark form-button"
                                           href="{% url 'dashboard:dashboard' %}">
                                            Dashboard
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <a class="btn btn-dark form-button"
                                           href="{% url 'dashboard:child_update' pk=user.pk %}">
                                            Update Profile
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.is_authenticated and user.is_parent or user.is_superuser %}
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <a class="btn btn-dark form-button"
                                           href="{% url 'dashboard:dashboard' %}">
                                            Dashboard
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <a class="btn btn-dark form-button"

                                           href="{% url 'dashboard:user_update' pk=user.pk %}">
                                            Update Profile
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <a class="btn btn-dark form-button"
                                           href="{% url 'dashboard:child_add' %}">
                                            Add Child
                                        </a>
                                    </div>
                                </div>
{#                                Show Add Smiley / Oopsy when in child detail view. #}
                                {% if "dashboard/child/" in request.path %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <a class="btn btn-dark form-button"
                                               href="{% url 'dashboard:smiley_add' parent=child.parent.username child_username=child.user.username pk=child.pk %}">
                                                Add Smiley
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <a class="btn btn-dark form-button"
                                               href="{% url 'dashboard:oopsy_add' parent=child.parent.username child_username=child.user.username pk=child.pk %}">
                                                Add Oopsy
                                            </a>
                                        </div>
                                    </div>
{#                                    Show View Progress when in Add Smiley / Add Oopsy view. #}
                                    {% if "add" in request.path %}
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <a class="btn btn-dark form-button"
                                                   href="{% url 'dashboard:child_detail' parent=child.parent.username child_username=child.user.username pk=child.pk %}">
                                                   View Progress
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}