{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <section class="dashboard">
        <div class="container-fluid px-0">
            <div class="row dashboard__container">
                <div class="col-12">
                    <div class="row">
                        {% block display_panel %}
                        {% endblock %}
                        <div class="dashboard__user-panel col-sm-4 col-lg-3 col-xl-2">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <a href="{% url 'dashboard:user_update' pk=request.user.pk %}">
                                        {% if request.user.profile_photo %}
                                            <img class="dashboard__profile-photo"
                                                 src="{{ request.user.profile_photo.url }}"
                                                 alt="User Profile Photo">
                                        {% else %}
                                            <img class="dashboard__profile-photo"
                                                 src="{% static 'dashboard/images/avatar_500x500px.png' %}"
                                                 alt="User Profile Photo">
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h2 class="dashboard__username">
                                        {{ request.user.username }}
                                    </h2>
                                    <h2 class="dashboard__email">
                                        {{ request.user.email }}
                                    </h2>
                                </div>
                            </div>
                            <hr>
                            {% if request.user.is_child %}
                                <div class="row">
                                    <div class="col-3 col-sm-12 text-center">
                                        <a class="btn btn-dark ui-button"
                                           href="{% url 'dashboard:dashboard' %}">
                                            <i class="fas fa-users"></i>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if request.user.is_authenticated and request.user.is_parent or request.user.is_superuser %}
                                <div class="row">
                                    <div class="col-3 col-sm-12 text-center">
                                        <a class="btn btn-dark ui-button"
                                           href="{% url 'dashboard:dashboard' %}">
                                            <i class="fas fa-users"></i>
                                        </a>
                                    </div>

                                    <div class="col-3 col-sm-12 text-center">
                                        <a class="btn btn-dark ui-button"
                                           href="{% url 'dashboard:child_add' %}">
                                            <i class="fas fa-user-plus"></i>
                                        </a>
                                    </div>
                                    {#Show Add Smiley / Oopsy when in child detail view. #}
                                    {% if "dashboard/child/detail" in request.path or "dashboard/child/add_" in request.path %}
                                        <div class="col-3 col-sm-12 text-center">
                                            <a class="btn btn-dark ui-button"
                                               href="{% url 'dashboard:smiley_add' parent=child.parent.username child_username=child.user.username pk=child.pk %}">
                                                <i class="fas fa-thumbs-up"></i>
                                            </a>
                                        </div>

                                        <div class="col-3 col-sm-12 text-center">
                                            <a class="btn btn-dark ui-button"
                                               href="{% url 'dashboard:oopsy_add' parent=child.parent.username child_username=child.user.username pk=child.pk %}">
                                                <i class="fas fa-thumbs-down"></i>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}