{% extends "dashboard/dashboard.html" %}
{% load static %}
{% block form %}
<div class="row">
    <div class="delete-wrapper col-12">
        <div class="delete-container jumbotron text-center">
            <h1 class="delete-title">Delete Oopsy</h1>
            <p class="delete-paragraph">Are you sure you want to delete this action:
                <span class="delete-object-name">
                    {{ oopsy.description }}?
                </span>
            </p>
            <form action="" method="POST">
              {% csrf_token %}
              <input class="delete-button btn btn-danger" type="submit" action="" value="Yes, delete."/>
            </form>
        </div>
    </div>
</div>
{% endblock %}